$btnBg-1: #333;
$parnetBg: #ccc;
$parnetBdColor: #333;
$colorHover: rgb(77, 155, 243);

.designer{
  display: flex;
  height: 95vh;
  width: 100%;
  background: #333;
  overflow: hidden;
  .main{flex: 1;}
  .rightCmp{width: 250px;background-color: #fff;}
  
}

.styleComp{
  .title{margin: 0;font-weight: bold;}
  .selectHeader{
    padding: 3px 7px;
    .title{font-weight: bold;}
  }
  .selectInfo{
    height: 100px;
    background: #fff;
  }
  .selectProp{
    &_header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: orange;
      padding: 2px 5px;
      & .btn-action button{
        color: black;
        padding: 0px 4px;
      }
    }
    &_state{
      position: relative;
      z-index: 1;      
      padding:  2px 5px;
      // overflow: hidden;
      // background-color: #fff;
      &_pnl{
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 2px;
        z-index: 1;
        button{
          border: 1px solid red;
          background-color: #fff;
          // box-shadow: 0px 0px 3px #0000008a;
          font-size: 12px;
          &.active,&:hover{
            background-color: orange;
            color: #fff;
          }
        }
      }
    }
    &_area{
      position: relative;
      &::after{
        content: '';
        position: absolute;
        z-index: 0;
        top: -15px;
        left: 1px;
        right: 10px;
        // top: 50%;
        width: 100%;
        height: 50vh;
        border-left:2px solid #f49e57d2;
        border-top:2px solid #f49e57d2;
      }
      & > div{
        position: relative;
        z-index: 1;
      }
    
      .propItem{
        display: flex;
        justify-content:stretch;
        align-items: center;
        flex-direction: row-reverse;
        gap: 2px;
        background-color: #fff;
        border-radius: 0 10px 10px 0;
        margin:3px;
        padding: 2px;
        box-shadow: 0 0 3px #000000cf;
        &-enBx{
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 2px;
          border-radius:0 10px 10px 0;
          border: 1px solid #333;
          overflow: hidden;
          button{
            background-color: #fff;            
            border: none;
            padding: 2px;
            font-size: 12px;            
            color: green;
            height: 48px;
            width: 25px;
            &:hover{
              background-color: orange;
              color: #fff;
            }
          }
        }
        
        &-propBx{
          flex: 1;
          display: flex;
          flex-direction: column;
          
          &-key,&-val{
            flex: 1;
            height: 25px;
            input{
              height: inherit;
              width: 100%;
              font-size: 12px;
            }
          }
          &-key{}
          &-val{}
        }
        
      }
      & .setPItem{
        display: flex;
        justify-content: stretch;
        align-items: center;
        padding: 3px;
        background-color: #ffffff89;
        margin: 3px 3px 0 3px;
        &:hover { 
          .setPItem_enb, .setPItem_opt{
            visibility: visible;
          }
        }
        
        &_enb, &_opt{visibility: hidden;}
        &_enb{          
          display: flex;
          align-items: center;
        }
        &_pv{
          display: flex;
          align-items: center;
          gap: 20px;
          flex: 1;
          padding: 0 5px;
          font-family: 'Times New Roman', Times, serif;
          // background-color: yellow;
          &_p{
            color: #000;
            font-weight: bold;
          }
          &_v{color: #333;}
          & span{
            font-size: 12px;
          }
        }
        &_opt{
          display: flex;
          justify-content:center;
          align-items: center;
          & button{
            // background-color: red;
            border-radius: unset;
            padding: 2px 0;
            font-size: 12px;
          }
        }
      }
    }
    
  }
}

input.propItem-enBx-ip + .propItem-enBx-lb{
  background: green;
}