.designer {
  display: flex;
  height: 95vh;
  width: 100%;
  background: #333;
  overflow: hidden;
}
.designer .main {
  flex: 1;
}
.designer .rightCmp {
  width: 250px;
  background-color: #fff;
}

.styleComp .title {
  margin: 0;
  font-weight: bold;
}
.styleComp .selectHeader {
  padding: 3px 7px;
}
.styleComp .selectHeader .title {
  font-weight: bold;
}
.styleComp .selectInfo {
  height: 100px;
  background: #fff;
}
.styleComp .selectProp_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  padding: 2px 5px;
}
.styleComp .selectProp_header .btn-action button {
  color: black;
  padding: 0px 4px;
}
.styleComp .selectProp_state {
  position: relative;
  z-index: 1;
  padding: 2px 5px;
}
.styleComp .selectProp_state_pnl {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2px;
  z-index: 1;
}
.styleComp .selectProp_state_pnl button {
  border: 1px solid orange;
  background-color: #fff;
  font-size: 12px;
}
.styleComp .selectProp_state_pnl button.active, .styleComp .selectProp_state_pnl button:hover {
  background-color: orange;
  color: #fff;
}
.styleComp .selectProp_area {
  position: relative;
}
.styleComp .selectProp_area::after {
  content: "";
  position: absolute;
  z-index: 0;
  top: -15px;
  left: 1px;
  right: 10px;
  width: 100%;
  height: 50vh;
  border-left: 2px solid rgba(244, 158, 87, 0.8235294118);
  border-top: 2px solid rgba(244, 158, 87, 0.8235294118);
}
.styleComp .selectProp_area > div {
  position: relative;
  z-index: 1;
}
.styleComp .selectProp_area .propItem {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: row-reverse;
  gap: 2px;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  margin: 3px;
  padding: 2px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8117647059);
}
.styleComp .selectProp_area .propItem-enBx {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-radius: 0 10px 10px 0;
  border: 1px solid #333;
  overflow: hidden;
}
.styleComp .selectProp_area .propItem-enBx button {
  background-color: #fff;
  border: none;
  padding: 2px;
  font-size: 12px;
  color: green;
  height: 48px;
  width: 25px;
}
.styleComp .selectProp_area .propItem-enBx button:hover {
  background-color: orange;
  color: #fff;
}
.styleComp .selectProp_area .propItem-propBx {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.styleComp .selectProp_area .propItem-propBx-key, .styleComp .selectProp_area .propItem-propBx-val {
  flex: 1;
  height: 25px;
}
.styleComp .selectProp_area .propItem-propBx-key input, .styleComp .selectProp_area .propItem-propBx-val input {
  height: inherit;
  width: 100%;
  font-size: 12px;
}
.styleComp .selectProp_area .setPItem {
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.537254902);
  margin: 3px 3px 0 3px;
}
.styleComp .selectProp_area .setPItem:hover .setPItem_enb, .styleComp .selectProp_area .setPItem:hover .setPItem_opt {
  visibility: visible;
}
.styleComp .selectProp_area .setPItem_enb, .styleComp .selectProp_area .setPItem_opt {
  visibility: hidden;
}
.styleComp .selectProp_area .setPItem_enb {
  display: flex;
  align-items: center;
}
.styleComp .selectProp_area .setPItem_pv {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
  padding: 0 5px;
  font-family: "Times New Roman", Times, serif;
}
.styleComp .selectProp_area .setPItem_pv_p {
  color: #000;
  font-weight: bold;
}
.styleComp .selectProp_area .setPItem_pv_v {
  color: #333;
}
.styleComp .selectProp_area .setPItem_pv span {
  font-size: 12px;
}
.styleComp .selectProp_area .setPItem_opt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.styleComp .selectProp_area .setPItem_opt button {
  border-radius: unset;
  padding: 2px 7px;
  font-size: 12px;
}
.styleComp .selectProp_area .setPItem_opt button:hover {
  background-color: rgb(77, 155, 243);
}

input.propItem-enBx-ip + .propItem-enBx-lb {
  background: green;
}/*# sourceMappingURL=main.css.map */